@tailwind base;
@tailwind components;
@tailwind utilities;

.Header a {
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
}
.Header a:hover {
  background-color: gray;
}
.Header {
  padding: 10px;
  background-color: black;
  color: #fff;
}
